
<h3 class="display-5">Wellcome</h3>

<p class="lead">
  This is the evolving product proposed by the challenge to Augusto César.
</p>
<p class="lead">
  Here we have a client area that can be accessed through the link at the 
  top on the right, next to product and sales.
</p>
<p class="lead">
  A new customer can only be entered if there is a name and an email entered, 
  as well as product name and price, sales need to be placed a customer and at 
  least one product.
</p>

